{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Hero</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, eligendi dolorum quisquam consectetur qui iste ipsam maxime mollitia nesciunt ex accusantium quasi voluptatibus cumque voluptatum. Libero quis odit quaerat quas!</p>
        </div>
        <div class="col-4">
            <img src="assets/img/hero.png" alt="" class="img-thumbnail">
        </div>
    </div>

{{> footer }}